* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    box-shadow: none !important;
    font-weight: 500;
    line-height: 21px;
}

a {
    text-decoration: none;
}

.home-row{
    height: calc(100vh - 114px);
}